body {
  background-color: #002333;
}
.MuiSvgIcon-root {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 0 5px 0 8px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  padding: 1.7%;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container #video_player {
  position: relative;
  width: 700px;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);
}
.container #video_player #main-video {
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}

.container #video_player .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 36px;
  width: 100%;
  background-color: rgb(0 0 0/70%);
  box-shadow: 0 0 40px 10px rgb(0 0 0/25%);
  z-index: 3;
  transform: translateY(0);
  padding-top: 20px;
}

.controls .controls-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 97%;
  height: 46%;
  margin: 0 auto;
}
.controls .controls-list .controls-left,
.controls .controls-list .controls-right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.controls .controls-left .timer {
  font-size: 14px;
  white-space: nowrap;
  color: #fff;
  margin-left: 5px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  display: flex;
}
.controls .controls-left .timer .slider-bar {
  width: 250px;
  margin-left: 13px;
}

.volume-chooser {
  display: inline-block;
  position: relative;
}
.volume-chooser:hover .volume-control {
  display: block;
}
.volume-control {
  position: absolute;
  display: none;
  bottom: 100%;
  border: 1px solid #aaa;
  background: #dedede;
  width: 40px;
}
.volume-control .volume {
  -webkit-appearance: slider-vertical;
  width: 35px;
}
.video-overlay {
  position: absolute;
  bottom: 42%;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.previous-video {
  left: 20px;
}
.next-video {
  right: 20px;
}
